from flask import Blueprint, render_template
{{ if .NeedDB }}
from .models import User
{{ end }}
views = Blueprint("views", __name__)


@views.route("/")
def index():
    {{ if .NeedDB }}
    users = User.query.all()
    {{ end }}
    return render_template("index.html"{{ if .NeedDB }}, users=users {{ end }})
